In [1]:
from datetime import datetime
import pandas as pd
from tabulate import tabulate

df = pd.read_csv("/Users/maxwellcorbin/vs_stuff/kateryna/vgsales.csv")
df.describe()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16598.000000,16327.000000,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000
mean,8300.605254,2006.406443,0.264667,0.146652,0.077782,0.048063,0.537441
std,4791.853933,5.828981,0.816683,0.505351,0.309291,0.188588,1.555028
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4151.250000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8300.500000,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,12449.750000,2010.000000,0.240000,0.110000,0.040000,0.040000,0.470000
max,16600.000000,2020.000000,41.490000,29.020000,10.220000,10.570000,82.740000

In [69]:
s = df.groupby(["Publisher"]).Global_Sales.sum().sort_values(ascending=False)
print(s[s >= 10])

Publisher
Nintendo                                  1786.56
Electronic Arts                           1110.32
Activision                                 727.46
Sony Computer Entertainment                607.50
Ubisoft                                    474.72
Take-Two Interactive                       399.54
THQ                                        340.77
Konami Digital Entertainment               283.64
Sega                                       272.99
Namco Bandai Games                         254.09
Microsoft Game Studios                     245.79
Capcom                                     200.89
Atari                                      157.22
Warner Bros. Interactive Entertainment     153.89
Square Enix                                145.18
Disney Interactive Studios                 119.96
Eidos Interactive                           98.98
LucasArts                                   87.34
Bethesda Softworks                          82.14
Midway Games                                69.85
Acclaim Entertainment                       64.14
Vivendi Games                               58.21
SquareSoft                                  57.65
505 Games                                   55.91
Tecmo Koei                                  53.55
Codemasters                                 47.87
Virgin Interactive                          43.87
Unknown                                     34.66
Enix Corporation                            33.74
Deep Silver                                 25.67
GT Interactive                              25.23
D3Publisher                                 24.13
Sony Computer Entertainment Europe          23.89
Hudson Soft                                 23.01
MTV Games                                   20.97
Universal Interactive                       17.77
Banpresto                                   17.40
Rising Star Games                           17.31
Infogrames                                  16.34
Majesco Entertainment                       16.08
Hasbro Interactive                          15.22
Nippon Ichi Software                        14.28
989 Studios                                 13.32
Zoo Digital Publishing                      12.87
Atlus                                       12.74
Level 5                                     12.17
Empire Interactive                          11.29
ASCII Entertainment                         10.89
3DO                                         10.12
Name: Global_Sales, dtype: float64

In [70]:
s = df.groupby(["Publisher"]).Global_Sales.sum().sort_values(ascending=False)
print(s[s >= 10])

Publisher
Nintendo                                  1786.56
Electronic Arts                           1110.32
Activision                                 727.46
Sony Computer Entertainment                607.50
Ubisoft                                    474.72
Take-Two Interactive                       399.54
THQ                                        340.77
Konami Digital Entertainment               283.64
Sega                                       272.99
Namco Bandai Games                         254.09
Microsoft Game Studios                     245.79
Capcom                                     200.89
Atari                                      157.22
Warner Bros. Interactive Entertainment     153.89
Square Enix                                145.18
Disney Interactive Studios                 119.96
Eidos Interactive                           98.98
LucasArts                                   87.34
Bethesda Softworks                          82.14
Midway Games                                69.85
Acclaim Entertainment                       64.14
Vivendi Games                               58.21
SquareSoft                                  57.65
505 Games                                   55.91
Tecmo Koei                                  53.55
Codemasters                                 47.87
Virgin Interactive                          43.87
Unknown                                     34.66
Enix Corporation                            33.74
Deep Silver                                 25.67
GT Interactive                              25.23
D3Publisher                                 24.13
Sony Computer Entertainment Europe          23.89
Hudson Soft                                 23.01
MTV Games                                   20.97
Universal Interactive                       17.77
Banpresto                                   17.40
Rising Star Games                           17.31
Infogrames                                  16.34
Majesco Entertainment                       16.08
Hasbro Interactive                          15.22
Nippon Ichi Software                        14.28
989 Studios                                 13.32
Zoo Digital Publishing                      12.87
Atlus                                       12.74
Level 5                                     12.17
Empire Interactive                          11.29
ASCII Entertainment                         10.89
3DO                                         10.12
Name: Global_Sales, dtype: float64

In [30]:
df.columns

Index(['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'],
      dtype='object')

In [90]:
df["JP_rat"] = df.JP_Sales / df.Global_Sales
df.loc[df.JP_pct > 0.0, ["Name", "Platform", "JP_rat", "Global_Sales", "JP_Sales"]].sort_values(["JP_rat", "Global_Sales"], ascending=[True, False]).head(30)

,Name,Platform,JP_rat,Global_Sales,JP_Sales
68,Just Dance 2,Wii,0.001050,9.52,0.01
101,Call of Duty: Black Ops 3,XOne,0.001370,7.30,0.01
179,Madden NFL 2004,PS2,0.001912,5.23,0.01
193,Call of Duty: Advanced Warfare,XOne,0.001949,5.13,0.01
207,Guitar Hero III: Legends of Rock,PS2,0.002008,4.98,0.01
211,Madden NFL 06,PS2,0.002037,4.91,0.01
72,Minecraft,X360,0.002174,9.20,0.02
237,Guitar Hero III: Legends of Rock,X360,0.002208,4.53,0.01
238,Madden NFL 2005,PS2,0.002208,4.53,0.01
240,Madden NFL 07,PS2,0.002227,4.49,0.01
247,Michael Jackson: The Experience,Wii,0.002262,4.42,0.01
248,Tony Hawk's Pro Skater 3,PS2,0.002268,4.41,0.01
256,FIFA 14,X360,0.002320,4.31,0.01
279,Madden NFL 2003,PS2,0.002415,4.14,0.01
287,Fallout 4,XOne,0.002445,4.09,0.01
306,Tony Hawk's Underground,PS2,0.002564,3.90,0.01
339,Tony Hawk's Pro Skater 4,PS2,0.002725,3.67,0.01
364,LEGO Star Wars: The Video Game,PS2,0.002833,3.53,0.01
368,Spyro 2: Ripto's Rage!,PS,0.002841,3.52,0.01
380,Guitar Hero: On Tour,DS,0.002874,3.48,0.01
401,Assassin's Creed IV: Black Flag,X360,0.002994,3.34,0.01
427,Dance Central,X360,0.003135,3.19,0.01
138,Driver,PS,0.003190,6.27,0.02
451,Madden NFL 2002,PS2,0.003247,3.08,0.01
468,NBA 2K13,X360,0.003333,3.00,0.01
500,Call of Duty: Finest Hour,PS2,0.003460,2.89,0.01
23,Grand Theft Auto V,X360,0.003663,16.38,0.06
556,LEGO Star Wars II: The Original Trilogy,PS2,0.003717,2.69,0.01
565,Call Of Duty 2: Big Red One,PS2,0.003745,2.67,0.01
572,Medal of Honor Heroes,PSP,0.003774,2.65,0.01